{% extends "base.html" %}
{% block content %}

{{ macros.m_row_start('0') }}
{{ macros.m_row_end() }}

<div>
  <form id="form_search" name="from_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid">
        <span class="col-md-12">
          <select name="option1" id="option1" class="form-control form-control-sm">
          </select>
          <select name="option2" id="option2" class="form-control form-control-sm">
          </select>
	      <input id="keyword" name="keyword" class="form-control form-control-sm w-50" type="text" placeholder="제목입력" aria-label="Search">
          {{ macros.m_button_group([['globalSearchSearchBtn', '검색'], ['globalSearchResetBtn', '리셋'], ['register_rcpt_modal_btn', '등록']]) }}
        </span>
       </div>
    </div>
  </form>
  <div id='page1'></div>
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(1, macros.m_strong('ID')) }}
  {{ macros.m_col(2, macros.m_strong('그룹명')) }}
  {{ macros.m_col(2, macros.m_strong('부서명')) }}
  {{ macros.m_col(2, macros.m_strong('성명(사번)')) }}
  {{ macros.m_col(2, macros.m_strong('메일주소')) }}
  {{ macros.m_col(3, macros.m_strong('기능')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="list_div"></div>
  <div id='page2'></div>
</div>

<!-- Modal:등록 -->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title">수신자등록</h4>
      </div>
      <div class="modal-body" id="modal_body" style="word-break:break-all;">
	    <form id="register_form" name="register_form">
          {{ macros.setting_select('rcpt_option', '수신자목록선택') }}
          {{ macros.setting_input_text('emp_code', '사원번호') }}
          {{ macros.setting_input_text('name', '성명') }}
          {{ macros.setting_input_text('dept', '소속부서') }}
          {{ macros.setting_input_text('email', '메일주소') }}
        </form>
      </div>
      <div class="modal-footer" style="align-items:right;">
         {{ macros.m_button_group([['register_rcpt_btn', '저장'], ['modal_hide_btn', '닫기']])}}
      </div>
    </div>
  </div>
</div>
<!-- Modal: 등록 END -->

<!-- Modal: 수정 -->
<div class="modal fade" id="modify_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="m_modal_title">수신자 수정</h4>
      </div>
      <div class="modal-body" id="modal_body" style="word-break:break-all;">
	  <form id="modify_form" name="modify_form">
        <input type='hidden' id="m_rcpt_id" name="m_rcpt_id">
        {{ macros.setting_select('m_rcpt_option', '수신자목록선택') }}
        {{ macros.setting_input_text('m_emp_code', '사원번호') }}
        {{ macros.setting_input_text('m_name', '성명') }}
        {{ macros.setting_input_text('m_dept', '소속부서') }}
        {{ macros.setting_input_text('m_email', '메일주소') }}
      </form>
      </div>
      <div class="modal-footer" style="align-items:right;">
         {{ macros.m_button_group([['modify_rcpt_btn', '저장'], ['remove_rcpt_btn', '삭제'], ['m_modal_hide_btn', '닫기']])}}
      </div>
    </div>
  </div>
</div>
<!-- Modal: 등록 END -->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub']}}";
var current_data = null;
var current_page = null;
var formData = null;
var curr_data = null;
var rcptlist = {{rcptlist|tojson}}
var deptlist = {{deptlist|tojson}}
var start_rcptlist_id = "{{arg['start_rcptlist_id']}}"

$(document).ready(function(){
  set_option1();
  set_option2();
  globalRequestSearch('1');
});


function set_option1() {
  const qString = window.location.search;
  const Params = new URLSearchParams(qString);
  //const start_list_id = Params.get('rcptlist_id');
  form_search.option1.options[0] = new Option('전체그룹', 'all');
  for (var i = 0; i < rcptlist.length; i++) {
    form_search.option1.options[i+1] = new Option(rcptlist[i].name, rcptlist[i].id);
    if (start_rcptlist_id != '') {
      if (start_rcptlist_id == rcptlist[i].id) form_search.option1.options[i+1].selected = true;
    }
  }
}

function set_option2() {
    console.log(deptlist);
  form_search.option2.options[0] = new Option('전체부서', 'all');
  for (var i = 0; i < deptlist.length; i++) {
    form_search.option2.options[i+1] = new Option(deptlist[i], deptlist[i]);
  }
}

function get_listname(list_id) {
  for (var i=0; i < rcptlist.length; i++) {
    if (rcptlist[i].id == list_id)
      return rcptlist[i].name
  }
  return '-'
}

function make_list(data) {
  var str = "";
  var btn_str = "";

  if (data.length == 0)
    str += '<tr><td colspan="6"><h4>데이터가 없습니다</h4></td></tr>';
  for (var i in data) {
    //console.log(data[i].id+','+data[i].name+','+data[i].dept);
    str += j_row_start();
    str += j_col(1, data[i].id)
    str += j_col(2, get_listname(data[i].list_id));
    str += j_col(2, data[i].dept);
    tmp = '<strong>'+data[i].name+'</strong> ('+data[i].emp_code+')';
    str += j_col(2, tmp);
    str += j_col(2, data[i].email);

    btn_str = j_button_tt('modify_rcpt_modal_btn', '수정', {'idx':i}, 'success', tooltip='수신자정보를 수정', pos='up');
    if (data[i].excluded) {
      btn_str += j_button_tt('include_rcpt_btn', '대상에포함', {'idx':i}, 'info', tooltip='해당수신자를 훈련대상에 포함', pos='up-right');
    } else {
      btn_str += j_button_tt('exclude_rcpt_btn', '대상에서제외', {'idx':i}, 'danger', tooltip='해당수신자를 훈련대상에서 제외', pos='up-right');
    }
    
    tmp = j_button_group(btn_str)
    str += j_col(3, tmp);
    str += j_row_end();
    if (i != data.length -1) str += j_hr();
  }
  $("#list_div").html(str);
  console.log('make_list done');
}

$("body").on('click', '#register_rcpt_modal_btn', function(e) {
  e.preventDefault();
  for (var i = 0; i < rcptlist.length; i++) {
    register_form.rcpt_option.options[i] = new Option(rcptlist[i].name, rcptlist[i].id);
  }
  $("#register_modal").modal();
});

$("body").on('click', '#modify_rcpt_modal_btn', function(e) {
  e.preventDefault();
  console.log(current_data);
  var idx = $(this).data('idx');
  var rcpt = current_data.list[idx];
  for (var i = 0; i < rcptlist.length; i++) {
    modify_form.m_rcpt_option.options[i] = new Option(rcptlist[i].name, rcptlist[i].id);
    if (rcpt.list_id == rcptlist[i].id) modify_form.m_rcpt_option.options[i].selected = true;
  }
  document.getElementById('m_rcpt_id').value = rcpt.id;
  document.getElementById('m_name').value = rcpt.name;
  document.getElementById('m_emp_code').value = rcpt.emp_code;
  document.getElementById('m_dept').value = rcpt.dept;
  document.getElementById('m_email').value = rcpt.email;
  $("#modify_modal").modal();
});

$('#register_modal').on('hidden.bs.modal', function () {
})
$('#modify_modal').on('hidden.bs.modal', function () {
})

function j_button_tt(id, text, data={}, outline_color, tooltip='', pos='down', size='medium') {
  var str = '<button id="'+id+'" name="'+id+'" class="btn btn-sm btn-outline-'+outline_color+'" '
  if (tooltip == '') str += ' aria-label="' +text+'"';
  else str += ' aria-label="' +tooltip+'"';
  str += ' data-balloon-pos="' +pos+ '" data-balloon-length="'+size+'"';
  for (var key in data) {
    str += ' data-' + key + '="' + data[key]+ '" '
  }
  str += '>' + text + '</button>';
  return str;
}

$("body").on('click', '#modal_hide_btn', function(e){
  e.preventDefault();
  $('#register_modal').modal('hide');
});

$("body").on('click', '#m_modal_hide_btn', function(e){
  e.preventDefault();
  $('#modify_modal').modal('hide');
});


$("body").on('click', '#register_rcpt_btn', function(e){
  e.preventDefault();
  var formData = getFormdata('#register_form');
  globalSendCommand('register_rcpt', formData, null, null, function(ret){
    if (ret.ret == 'success') {
      $('#register_modal').modal('hide');
      globalRequestSearch('1')
    }
    else {
      notify(ret.data, 'warning');
    }
  });
});


$("body").on('click', '#modify_rcpt_btn', function(e){
  e.preventDefault();
  var formData = getFormdata('#modify_form');
  globalSendCommand('modify_rcpt', formData, null, null, function(ret){
    if (ret.ret == 'success') {
      $('#modify_modal').modal('hide');
      globalRequestSearch(current_page);
    }
    else {
      notify(ret.data, 'warning');
    }
  });
});


$("body").on('click', '#remove_rcpt_btn', function(e){
  e.preventDefault();
  m_rcpt_id = document.getElementById('m_rcpt_id').value;
  m_name = document.getElementById('m_name').value;
  globalConfirmModal('훈련대상자삭제', m_name+'('+m_rcpt_id+') 대상자을 삭제하시겠습니까?', function() {
    remove_rcpt(m_rcpt_id);
  });
});

function remove_rcpt(rcpt_id) {
  globalSendCommand('remove_rcpt', rcpt_id, null, null, function(ret){
    if (ret.ret == 'success') {
      $('#modify_modal').modal('hide');
      globalRequestSearch(current_page, move_top=false);
      notify(m_name+" 삭제 완료", 'success');
    } else {
      notify(m_name+" 삭제 실패("+ret.data+")", 'warning');
    }
  });
}

$("body").on('click', '#include_rcpt_btn', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  var rcpt = current_data.list[idx];
  globalSendCommand('include_rcpt', rcpt.id, null, null, function(ret){
    if (ret.ret == 'success') {
      notify(ret.data, 'success');
    }
    else {
      notify(ret.data, 'warning');
    }
    globalRequestSearch(current_page, false);
  });
});

$("body").on('click', '#exclude_rcpt_btn', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  var rcpt = current_data.list[idx];
  globalSendCommand('exclude_rcpt', rcpt.id, null, null, function(ret){
    if (ret.ret == 'success') {
     notify(ret.data, 'success');
    }
    else {
      notify(ret.data, 'warning');
    }
    globalRequestSearch(current_page, false);
  });
});

</script>    
{% endblock %}
